docs/base_documentaire/enedis/Enedis.SGE.GUI.0408.Flux R4x_v2.0.3/Enedis.SGE.XSD.0409.R4x_v1.1.1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Courbe" type="Courbe"/>
	<xsd:complexType name="Courbe" mixed="false">
		<xsd:sequence>
			<xsd:element name="Entete" type="Entete"/>
			<xsd:element name="Corps" type="Corps"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Entete" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifiant_Flux">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle_Flux">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Identifiant_Emetteur">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Identifiant_Destinataire">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Date_Creation" type="xsd:dateTime"/>
			<xsd:element name="Frequence_Publication">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Reference_Demande">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Nature_De_Courbe_Demandee">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Corps" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifiant_PRM">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="14"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Donnees_Courbe" type="Donnees_Courbe" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Donnees_Courbe" mixed="false">
		<xsd:sequence>
			<xsd:element name="Horodatage_Debut" type="xsd:dateTime"/>
			<xsd:element name="Horodatage_Fin" type="xsd:dateTime"/>
			<xsd:element name="Granularite">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Unite_Mesure">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Grandeur_Metier">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Grandeur_Physique">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Donnees_Point_Mesure" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="Donnees_Point_Mesure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Donnees_Point_Mesure" mixed="false">
		<xsd:attribute name="Horodatage" type="xsd:dateTime" use="required"/>
		<xsd:attribute name="Valeur_Point" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:integer">
					<xsd:totalDigits value="8"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Statut_Point" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
