docs/base_documentaire/enedis/Enedis.SGE.XSD.0127.F12_Donnees_Recap_1.10.4.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Detail_Recapitulatif" type="Recap"/>
	<xsd:complexType name="Recap" mixed="false">
		<xsd:sequence>
			<xsd:element name="En_Tete_Flux" type="En_Tete_Flux"/>
			<xsd:element name="Rappel_En_Tete" type="Rappel_En_Tete"/>
			<xsd:element name="Type_Tarif" type="Type_Tarif" minOccurs="0" maxOccurs="15"/>
			<xsd:element name="Autres_Montants" type="Autres_Montants" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="En_Tete_Flux" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifiant_Flux">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
						<xsd:minLength value="1"/>
						<xsd:enumeration value="F12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle_Flux">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250"/>
						<xsd:minLength value="1"/>
						<xsd:enumeration value="Flux de facture F12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Version_XSD">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Identifiant_Emetteur">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
						<xsd:minLength value="1"/>
						<xsd:enumeration value="Enedis"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Identifiant_Destinataire" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Date_Creation" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Recapitulatif">
		<xsd:sequence>
			<xsd:element name="Code_Recapitulatif">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="CGEST"/>
						<xsd:enumeration value="CCOMP"/>
						<xsd:enumeration value="CAC"/>
						<xsd:enumeration value="CAS"/>
						<xsd:enumeration value="CSF"/>
						<xsd:enumeration value="CSV"/>
						<xsd:enumeration value="CMDPS"/>
						<xsd:enumeration value="CREAC"/>
						<xsd:enumeration value="CSPE"/>
						<xsd:enumeration value="PREST"/>
						<xsd:enumeration value="FRAIS"/>
						<xsd:enumeration value="REM"/>
						<xsd:enumeration value="AUTRE"/>
						<xsd:enumeration value="CRGPT"/>
						<xsd:enumeration value="CGCU"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Libelle_Recapitulatif" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="70"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sous_Total_HT">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Taux_TVA_Applicable">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="6"/>
						<xsd:fractionDigits value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Type_Tarif">
		<xsd:sequence>
			<xsd:element name="Tarif_Souscrit">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="11"/>
						<xsd:enumeration value="BTSUPLU"/>
						<xsd:enumeration value="BTSUPMU"/>
						<xsd:enumeration value="HTA5"/>
						<xsd:enumeration value="HTA8"/>
						<xsd:enumeration value="HTASansDiff"/>
						<xsd:enumeration value="BTINFCUST"/>
						<xsd:enumeration value="BTINFMUDT"/>
						<xsd:enumeration value="BTINFLU"/>
						<xsd:enumeration value="BTINFMUST"/>
						<xsd:enumeration value="HTACU5"/>
						<xsd:enumeration value="HTALU5"/>
						<xsd:enumeration value="HTACUPM5"/>
						<xsd:enumeration value="HTALUPM5"/>
						<xsd:enumeration value="BTSUPLU4"/>
						<xsd:enumeration value="BTSUPCU4"/>
						<xsd:enumeration value="BTSUPLUACC"/>
						<xsd:enumeration value="BTSUPCUACC"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Sous_Total_HT">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Recapitulatif" type="Recapitulatif" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Autres_Montants">
		<xsd:sequence>
			<xsd:element name="Sous_Total_HT">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="18"/>
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Recapitulatif" type="Recapitulatif" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Rappel_En_Tete" mixed="false">
		<xsd:sequence>
			<xsd:element name="Num_Facture">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Date_Facture" type="xsd:date"/>
			<xsd:element name="Devise" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="3"/>
						<xsd:enumeration value="EUR"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Agence_ERDF">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="4"/>
						<xsd:pattern value="032[1-8]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
