docs/base_documentaire/enedis/guides_flux/Enedis.SGE.GUI.0479.Flux R171_1.3.0/ENEDIS.SGE.XSD.0315.Flux_R171_v1.2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.enedis.fr/stm/R171"
	xmlns:stm="http://www.enedis.fr/stm/R171">

	<xs:element name="R171" type="stm:R171"/>

	<xs:complexType name="R171">
		<xs:sequence>
			<xs:element name="entete" type="stm:EnteteType"/>
			<xs:element name="serieMesuresDateesListe" type="stm:SeriesMesuresDateesListeType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- entete -->
	<xs:complexType name="EnteteType">
		<xs:sequence>
			<xs:element name="emetteur" type="xs:string" minOccurs="1"/>
			<xs:element name="destinataire" type="xs:string" minOccurs="1"/>
			<xs:element name="dateHeureCreation" type="xs:dateTime" minOccurs="1"/>
			<xs:element name="flux" type="stm:FluxType" minOccurs="1"/>
			<xs:element name="version" type="stm:VersionType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- seriesMesuresDatees -->
	<xs:complexType name="SeriesMesuresDateesListeType">
		<xs:sequence>
			<xs:element name="serieMesuresDatees" type="stm:SerieMesuresDateesType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SerieMesuresDateesType">
		<xs:sequence>
			<xs:element name="prmId" type="stm:PrmIdType" minOccurs="1"/>
			<xs:element name="type" type="stm:MesureTypeCodeType" minOccurs="1"/>
			<xs:element name="grandeurMetier" type="stm:MesureGrandeurMetierCodeType" minOccurs="1"/>
			<xs:element name="grandeurPhysique" type="stm:MesureGrandeurPhysiqueCodeType" minOccurs="1"/>
			<xs:element name="typeCalendrier" type="stm:CalendrierCodeType" minOccurs="1"/>
			<xs:element name="codeClasseTemporelle" type="stm:ClasseTemporelleCodeType" minOccurs="1"/>
			<xs:element name="libelleClasseTemporelle" type="xs:string" minOccurs="1"/>
			<xs:element name="unite" type="stm:MesureUniteSymboleType" minOccurs="1"/>
			<xs:element name="mesuresDateesListe" type="stm:MesuresDateesListeType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MesuresDateesListeType">
		<xs:sequence>
			<xs:element name="mesureDatee" type="stm:MesureDateeType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MesureDateeType">
		<xs:sequence>
			<xs:element name="dateFin" type="xs:dateTime" minOccurs="1"/>
			<xs:element name="valeur" type="xs:integer" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Définition des types -->

	<xs:simpleType name="PrmIdType">
		<xs:restriction base="xs:string">
			<xs:minLength value="14"/>
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="FluxType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="VersionType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ContextePublicationType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MesureTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DateType">
		<xs:restriction base="xs:date" />
	</xs:simpleType>

	<xs:simpleType name="MesureGrandeurMetierCodeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:simpleType name="MesureGrandeurPhysiqueCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CalendrierCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ClasseTemporelleCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MesureUniteSymboleType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StatutType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
