docs/base_documentaire/enedis/Enedis.SGE.GUI.0318.Flux R50_v2.2.0/Enedis.SGE.GUI.0316.Flux_R50_v1.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="En_Tete_Flux">
		<xs:sequence>
			<xs:element name="Identifiant_Flux" type="Identifiant_Flux" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Libelle_Flux" type="Libelle_Flux" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Version_XSD" type="Version_XSD" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Identifiant_Emetteur" type="Identifiant_Emetteur" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Identifiant_Destinataire" type="Identifiant_Destinataire" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Date_Creation" type="Date_Creation" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Identifiant_Contrat" type="Identifiant_Contrat" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Numero_Abonnement" type="Numero_Abonnement" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Pas_Publication" type="Pas_Publication" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Identifiant_Flux">
		<xs:restriction base="xs:string">
			<xs:enumeration value="R50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Libelle_Flux">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Courbes de charge des PRM du segment C5 sur abonnement"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version_XSD">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifiant_Emetteur">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ERDF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifiant_Destinataire">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date_Creation">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Identifiant_Contrat">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numero_Abonnement">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Pas_Publication">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="R50">
		<xs:sequence>
			<xs:element name="En_Tete_Flux" type="En_Tete_Flux" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PRM" type="PRM" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRM">
		<xs:sequence>
			<xs:element name="Id_PRM" type="Id_PRM" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Donnees_Releve" type="Donnees_Releve" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Id_PRM">
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Donnees_Releve">
		<xs:sequence>
			<xs:element name="Date_Releve" type="Date_Releve" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Id_Affaire" type="Id_Affaire" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PDC" type="PDC" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Date_Releve">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Id_Affaire">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{4,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PDC">
		<xs:sequence>
			<xs:element name="H" type="H" minOccurs="1" maxOccurs="1"/>
			<xs:element name="V" type="V" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IV" type="IV" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="H">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="V">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="IV">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="R50" type="R50"/>
</xs:schema>
